/target/
/dist/
/release/
/build/
/.gradle/
**/.gradle/
/.javan/
**/.javan/
src/test/resources/projects/acceptance/library-dependency/lib/
src/test/resources/projects/acceptance/library-dependency/lib-classes/
*.class
*.log
.DS_Store
